*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    outline: 0;
    border:0;
}
body input:required:valid,
body textarea:required:valid {
}

/*=====================
        reset
=====================*/
h1,h2,h3,h4,h5,h6,ul,li,figure,p{
    -webkit-margin-before: 0;
    -webkit-margin-after:  0;
    font-weight: normal;
    margin: 0;
}
a{
    color: #178ac6;
    text-decoration: none;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-transition: all .6s linear;
            transition: all .6s linear;
    min-width: 1000px;
}
.clear:after {
    content: " ";   
    display: table;  
    clear: both; 
}
*{
    box-sizing: border-box;
}
.bold{
    font-weight: 600;
}
.light{
    font-weight: 300;
}
.hid{
    visibility: hidden;
}
/*=========================
        end reset
=========================*/
.content{
    width: 1000px;
    padding: 0 30px;
    text-align: center;
    margin: auto;
    position: relative;
}
#header{
    position: relative;
}
#main__video{
    width: 100%;
}
#top__content{
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #1a5aa7;
}
.main_header_1{
    font-size: 33pt;
    margin-top: 50px;
}
.main_header_2{
    font-size: 30pt;
    margin-bottom: 35px;
}
.button{
    display: block;
    background: #ffde00;
    margin: 25px 0;
    padding: 10px 0px;
    width: 270px;
    margin: auto;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    color: #1a5aa7;
    font-size: 18pt;
    border-radius: 5px;
    font-weight: 300;
    transition: background,color .3s linear;
}
.button:hover{
    background: #005cb2;
    color: #ffde00;
}
img[alt="scroll"]{
    margin-top: 10px;
    padding-top: 35px;
}
#quality{
    padding: 60px 0;
}
#quality img{
    margin-right: 55px;
}
#quality img:last-child{
    margin-right: 0;
}
#form_y{
    background: #ffde00;
    position: relative;
}
img[alt="secr"]{
    position: absolute;
    bottom: 0;
    right: 0;
}
#application{
    width: 300px;
    margin-left: 50px;
}
#application h3{
    color: #005cb2;
}
.first_h3{
    font-size: 25pt;
    padding-top: 5px;
}
.second_h3{
    font-size: 37pt;
    margin-bottom: 20px;
}
#application h6{
    text-align: left;
    font-size: 13pt;
    font-weight: 300;
    color: #005cb2;
    margin-top: 5px;
}
#application input{
    color: #005cb2;
    width: 100%;
    border: #005cb0 solid 3px;
    background: #ffde00;
    height: 30px;
    padding-left: 10px;
}
.applicationButton{
    background: #005cb2;
    text-transform: uppercase;
    color: #ffde00;
    border:0;
    font-size: 18pt;
    margin: 15px 0;
    padding: 5px 15px;
    transition: color .3s ease;
}
.applicationButton:hover{
    color: #fff;
}
#profit{
    background: url(../../img/vigodi-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 35px;
}
#profit h3{
    color: #fff;
    font-size: 40pt;
    padding-top: 25px;
    text-transform: uppercase;
    padding-bottom: 35px;
}
img[alt="profit"]{
    margin: 5px;
}
#work{
    background: url(../../img/work_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 140px;
}
#work h3{
    color: #2a2a2a;
    font-size: 40pt;
    text-transform: uppercase;
    padding: 25px 0 35px 0;
}
.first_p{
    width: 50%;
    float: left;
    text-align: left;
    font-weight: 300;
    font-size: 13pt;
}
.second_p{
    width: 50%;
    float: right;
    text-align: right;
    font-weight: 300;
    font-size: 13pt;
    margin-bottom: 60px;
}
#left_half{   
    width: 55%;
    float: left;
    border-right: #c3c3c3 solid 3px;
}
#left_half header{
    background: #005cb2;
    text-align: center;
    font-size: 18pt;
    color: #fff;
    padding: 20px 10px;
}
.row_table{
    width: 100%;
}
.col_table{
    width: 50%;
    background: #fff;
    float: le
}
#app_1 #left_half table{
    width: 100%;
}
#app_1 #left_half tr:nth-child(2n){
    background: #f1f1f1;
}
#app_1 #left_half tr:nth-child(2n+1){
    background: #fff;
}
#app_1 #left_half tr td{
    width: 50%;
    vertical-align: center;
    font-weight: 300;
    color: #005cb2;
    height: 45px;
    text-align: left;
    padding-left: 10px;
    border-left: 1px solid #ccc;
    font-size: 13pt;
}
#application2{
    width: 100%;
    padding: 20px 15px 25px 15px;
    background: #ffde00;
    text-align: left;
}
#application2 h3{
    font-size: 18pt;
    text-align: left;
    text-transform: none;
    padding: 0 0 20px 0;
}
#application2 input{
    background: #ffde00;
    color: #005cb2;
    border: #005cb2 solid 2px;
    padding: 5px 10px;
    font-size: 11pt;
    margin-right: 10px;
    width: 165px;
}
.applicationButton2{
    width: 125px;
    border: #005cb2 2px solid;
    text-transform: uppercase;
    font-weight: 600;
    background: #ffde00;
    color: #005cb2;
    height: 32px;
    transition: background,color .3s linear;
}
.applicationButton2:hover{
    background: #005cb2;
    color: #ffde00;
}
#right_half{
    width: 45%;
    float: left;
}
#right_half header{
    background: #f1f1f1;
    padding-bottom: 15px;
}
#right_half header h3{
    color: #005cb2;
    font-size: 18pt;
    text-transform: none;
    padding: 15px 0 5px 0;
}
#right_half header h4{
    color: #505050;
    font-size: 11pt;
}
#app_1 #right_half table{
    width: 100%;
}
#app_1 #right_half tr td{
    width: 50%;
    vertical-align: center;
    font-weight: 300;
    color: #005cb2;
    height: 59px;
    text-align: center;
    border-left: 1px solid #ccc;
    font-size: 13pt;
    border-bottom: 4px solid rgba(255,222,0,0); 
    transition: border .3s ease-in;
}
#app_1 #right_half tr td:hover{
    cursor: pointer;
    border-bottom:4px solid rgba(255,222,0,1); 
}
#app_1 #right_half tr:nth-child(2n){
    background: #f1f1f1;
}
#app_1 #right_half tr:nth-child(2n+1){
    background: #fff;
}
#comment{
background: url(../../img/upfeathers.jpg);
    background-attachment: fixed;    
}
#comment h3{
    font-size: 40pt;
    padding: 25px 0 35px 0;
    text-transform: uppercase;
}
.comment{
    padding-bottom: 30px;
}
.yellow{
    background: #ffde00;
    border-radius: 10px 10px 10px 0;
    margin-left: 145px;
}
.yellow img[alt="comment"]{
    float: left;
    margin-left: -145px;
}
.yellow p{
    text-align: left;
    padding: 30px 30px 35px 60px;
    line-height: 17pt;
    font-size: 12pt;
    font-weight: 300;
}
.bottom_comment{
    background: url(../../img/comment_yellow.png) no-repeat;
    margin-left: 145px;
    text-align: left;
    padding-left: 60px;
    color: #005cb2;
    padding-bottom: 15px;
    font-size: 14pt;
}
.blue{
    background: #005cb2;
    border-radius: 10px 10px 0 10px;
    margin-right: 145px;
}
.blue img[alt="comment"]{
    float: right;
    margin-right: -145px;   
}
.blue p{
    text-align: right;
    padding: 30px 60px 35px 30px;
    line-height: 17pt;
    font-size: 12pt;
    color: #fff;
    font-weight: 300;
}
.bottom_comment2{
    background: url(../../img/comment_blue.png) no-repeat top right;
    margin-right: 145px;
    text-align: right;
    padding-right: 60px;
    color: #ffde00;
    padding-bottom: 15px;
    font-size: 14pt;
}